{% extends "base.html" %}
{% block content %}


    <ul class="collapsible">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header white-text orange darken-4 text-shadow">
                <i class="fas fa-caret-down"></i>Name:
                <strong>{{ recipe.recipe_name }}</strong> | Category: {{ recipe.category_name }} | created by: {{ recipe.created_by}}
           </div>
                
            <div class="collapsible-body">
                <strong>Category: {{ recipe.category_name }}</strong>
                <p>{{ recipe.recipe_about }}</p> <br>
                <p><strong>Ingredient: </strong>{{ recipe.recipe_ingredient.splitlines }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>


{% endblock %}
